<h1>Chat Room</h1>
<section class="message-list">
</section>
<form class="message-form">
  <textarea class="message-form-textarea" name="message" placeholder="Enter your message here..."></textarea>
  <input type="submit" value="Submit message">
</form>
