<h1>Chat Room</h1>
<ul class="message-list"></ul>
<form class="message-form">
  <textarea class="message-form-textarea" name="message">Enter your message here...</textarea>
  <input type="submit" value="Submit message">
</form>
