<section class="message-list">
</section>
<form class="message-form">
  <textarea class="message-form-textarea" name="message" placeholder=""></textarea>
  <input type="submit" value="Submit message">
</form>
