@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}


.login-form-username,
.login-form-email,
.login-form-submit,
.login-form-roomname {
  display: block;
  width: 50%;

}

.message-form {
  border-top: 2px solid $blue;
  padding-top: 20px;
}

.message-form-textarea {
  display: block;
  width: 75%
}

.message-form-submit {
  display: block;
}
